body{
  background-color: #ffffff;
  
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#main-navigation {
 
  float:right;
  Font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container
{
  width: 85%;
  margin: auto;
  overflow: hidden;
}
#header-navigation{
  background-color: #fff;
 border: 3px solid  #57a4d8 ;
  height: 55px ;
  padding-top: 15px;
}
#logo{
  margin:0px 10px;
  float: left;
  
}

#logo a{
  font-size: 25px;
line-height: 40px
}
a{
text-decoration: none;
color: #666;

}

#main-navigation ul {
display: inline;

}
#main-navigation ul li{
  display: inline-block;
}
#main-navigation ul li:hover {
  background: #57a4d8;
  color: #fff;}
  #main-navigation ul li ul{
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    text-align: center;
    display: none;
    position: absolute;
    border: 2px solid black;
  }
#main-navigation ul li ul li {

  
    display: block;
  }
  #main-navigation ul li ul li a{
padding: 20px;
width: 100%;
}
#main-navigation ul li:hover ul {
		display: block;
  }


